/*
*Autor: Antônio Roberto, Diego Muniz e Jefferson Monteiro
*Empresa: WebMais Desenvolvimento parar Internet
*/

* {font-family: Verdana; margin: 0; padding: 0;}
a, p {text-decoration: none;}
li {list-style-type: none;}
h2 , h3, h4 {font-weight: lighter;}
img {border: none;}
body {}
.clear {clear: both;}
input{border:none; border:0;}

#site {}


#header {width: 900px; margin: 0 auto; height: 125px;}
#header h1 {width: 294px; float: left;}
#header h1 a {display: block; background: url(../images/logo.png) no-repeat; height: 64px; width: 294px; text-indent: -99999px; margin: 35px 0 0 5px; font-size: 0.2px;}

#menu {font-size: 14px; }
#menu .nav {width: 420px; float: right; margin-top: 65px;}
#menu .nav li {display: inline; margin:0 10px;}
#menu .top li a {color: #000000;}
#menu .top li a:hover {border-bottom:2px #35699f solid;}
#menu .top li a.active {border-bottom:2px #acd926 solid;}


#content {width: 900px; margin: 0 auto; margin-bottom: 170px;}
#content h2 { font-size: 30px;text-transform: lowercase; }
#content .banner { }
#content .boxes {margin-top: 40px;}
#content .boxes .box {width: 270px; height: 225px; float: left; margin-bottom: 170px;}
#content .boxes .item1 {margin-right: 44px; }
#content .boxes .item2 {margin-right: 44px; }
#content .boxes .box h2 {color: #a5ce27; background: url(../images/title_box.png) no-repeat; text-indent: 65px; height: 41px; letter-spacing: -3px;}
#content .boxes .box p {font-size: 14px; font-style: Arial; margin: 10px 5px; text-align: justify;}
#content .boxes .box a {float: right; font-size: 14px; font-style: Arial; color: #1975d4; }
#content .boxes .item3 {}

.how_to_use_imgs {
  width: 260px;
  height: 150px;
  margin: 0 auto;
}
.how_to_use_imgs div {
  width: 260px;
  height: 150px;
  position: absolute;
}
.how_to_use_imgs .red { background: red;}
.how_to_use_imgs .blue { background: blue;}
.how_to_use_imgs .green { background: green;}


#footer {height: 205px; background-color: #10152d; color: #ffffff;}
#footer .footer {width: 900px; margin: 0 auto;}
#footer .footer .submenu {float: left; margin-top: 20px;}
#footer .footer .submenu .nav li {display: inline; margin:0 10px; font-size: 14px;}
#footer .footer .submenu .nav li a {color: #ffffff;}
#footer .footer .submenu .nav li a:hover {border-bottom:2px #fff solid;}

#footer .footer .webmais {margin-top: 10px; float:right;}

#footer .footer .address {margin-top: 55px; float: left; font-size: 14px; font-family: Verdana; width: 490px;}
#footer .footer .address span {line-height: 25px;}
#footer .footer .address p {margin-top: 25px; }

#footer .footer .logo { float: right; margin-top: 20px;}


#about { }
#about p { font-size: 14px; color: #3c3c3c; text-align: justify; text-indent: 35px; }
#about h2 {background: url(../images/int_title_box.png) no-repeat; color: #4c78a7; text-indent: 60px; height: 41px; letter-spacing: -3px; margin: 40px 0; width: 269px; }
#about .sobre {margin: 0 30px 65px 0;}
#about .sobre h2 {}
#about .sobre  p { margin-right: 20px;}
#about .metod { }
#about .metod h2 {}
#about .metod  p {width: 460px; text-align: justify; float: left; margin-bottom: 30px; }
#about .metod img {margin: -60px 0 0 20px;}


#services  {margin-top: 40px; }
#services h2 { letter-spacing: -3px; }
#services p { font-size: 14px; color: #3c3c3c; text-align: justify; text-indent: 35px;}

#services .servicos {}
#services .servicos h2{ background: url(../images/int_title_box.png) no-repeat; height: 41px; width: 345px; text-indent: 60px; color: #4c78a7; margin-bottom: 40px;}
#services .servicos .teste {float: left; width: 100px; height: 100px; background: yellow; margin-left: 40px; }
#services .servicos .products {width: 440px; height: 110px; float: left; margin-bottom: 50px; padding-top: 10px; }
#services .servicos .products ul {margin-left: 15px; float: left;  width: 270px;}
#services .servicos .products ul li {color: #3c3c3c;  margin: 10px 30px 10px 0; /*line-height: 12px;*/ }
#services .servicos .products ul li.title { margin-top: 20px; font-size: 14px;  font-family:Verdana; font-weight: bold; }
#services .servicos .products ul li.description{font-size: 12px;  font-family: Arial; }

#services .clientes {}
#services .clientes h2{ background: url(../images/int_title_box.png) no-repeat; height: 41px; width: 269px; text-indent: 60px; color: #4c78a7; margin-bottom: 45px;}

#contact {}
#contact .talk {float: left;}
#contact .talk h2{ background: url(../images/int_title_box.png) no-repeat; height: 41px; width: 269px; text-indent: 60px; color: #4c78a7; margin-bottom: 45px; letter-spacing: -3px; margin-top: 40px; }

#contact .form.contato { font-family: verdana; font-size: 18px; width: 420px; }
#contact .form.contato form {margin-left: 20px; display: inline; }


  .form.contato input[type=text], .form.contato textarea {
    border: 1px solid #ccc;
    padding: 4px;
    font-family: verdana;
    font-size: 18px;
    color: #85a138;
    background:#e3e3e3;
    -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    -opera-border-radius: 3px;
    width: 410px;
    margin: 3px 0 17px 0;
  }


.form.contato textarea { overflow: auto; height: auto; min-height: 80px; }
.form.contato textarea.selected, .form.contato input[type=text].selected { border: 2px solid #ba2222; margin: 8px 1px 1px 1px;}

  input.submit{ /*modificar o estilo do botao*/
    font-size:18px;
        font-family:Verdana;
        color:white;
    /*font-weight:bold;*/
        background:#4c7196;
        border:0px;
        width:100px;
        height:32px;
    -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    cursor: pointer;
    outline: 0px;
    padding: 2px;
    color: #e3e3e3;
  }

  input.submit:hover, input.submit:focus {
    background: #396088;
  }

  input.submit:active {
    background: #1c436a;
  }

.form.contato label { display: block; margin: 1px 0 2px 0; color: #46688a;}
.form.contato label span.required { color: red; }
.form span {font-size:10px; }


.submit { margin-top: 55px; float: right; }

#contact .info{}
#contact .info .boxinfo { background: #e3e3e3; border: 1px solid #ccc; float: left; width: 425px; margin: 155px 10px 10px 30px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#contact .info .boxinfo p{text-indent: 10px; font-family: Verdana; font-size: 13px; padding: 3px; }

#contact .info .gmaps {float: left; margin-left: 30px; margin-bottom: 100px;}
#contact .info .gmaps a { display: block; color: #4c7196; }

.form.contato label.error {font-size:12px; color:#ff4400; padding-bottom:20px;}

#flash h2 { font-family: tahoma; font-size: 14px; padding: 10px; width: 850px; height: auto;  -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#flash h2.alert{background:#bf8585; border:1px solid #700b0b;}
#flash h2.notice{background:#a1db93; border:1px solid #428f15;}
