%ul.nav.top
  %li
    = link_to t('menu.home'), root_path, :title => t('menu.home')
  %li
    = link_to t('menu.about'), about_path, :title => t('menu.about')
  %li
    = link_to t('menu.services'), services_path, :title => t('menu.services')
  %li
    = link_to t('menu.contact'), contact_path, :title => t('menu.contact')