%ul.nav.top
  %li
    = link_to t('menu.home'), root_path, :title => t('menu.home')
  %li
    = link_to "Sobre", about_path, :title => "Sobre"
  %li
    = link_to "Serviços/Produtos", services_path, :title => "Serviços/Produtos"
  %li
    = link_to "Contato", contact_path, :title => "Contato"