#about
  .sobre
    %h2 sobre
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus, risus et elementum bibendum, erat nunc varius nunc, eget condimentum leo ipsum id nunc. Proin posuere mauris ac libero iaculis commodo. Phasellus id nibh augue. Suspendisse id erat tellus.
  .metod
    %h2 metodologia
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus, risus et elementum bibendum, erat nunc varius nunc, eget condimentum leo ipsum id nunc. Proin posuere mauris ac libero iaculis commodo. Phasellus id nibh augue. Suspendisse id erat tellus.
    %p Proin posuere mauris ac libero iaculis commodo. Phasellus id nibh augue. Suspendisse id erat tellus.
    %img{:alt => "sprint", :src => "images/sprint.png"}/
