#about
  .sobre
    %h2 Sobre
    %p A Successoft foi criada com o objetivo de ajudar na sustentabilidade sócio-política, focando no <b>equilíbrio social</b> através da tecnologia, e se tornando um "catalisador" da mudança nas causas sociais.
  .metod
    %h2 Príncipios
    %p A Successoft tem como base o "Pensamento Enxuto" aplicado ao desenvolvimento de produtos, visando resolver o problema de uma forma eficaz.
    %img{:alt => "sprint", :src => "images/sprint.png"}/
