.banner
  %img{:alt => "", :src => "images/banner.png", :title => ""}/
  %span
.boxes
  .box.item1
    %h2 história
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus, risus et elementum bibendum, erat nunc varius nunc, eget condimentum leo ipsum id nunc. Proin posuere mauris ac libero iaculis commodo. Phasellus id nibh augue. Suspendisse id erat tellus.
    %a{:href => "", :title => ""} leia mais sobre
  .box.item1
    %h2 serviços
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus, risus et elementum bibendum, erat nunc varius nunc, eget condimentum leo ipsum id nunc. Proin posuere mauris ac libero iaculis commodo. Phasellus id nibh augue. Suspendisse id erat tellus.
    %a{:href => "", :title => ""} leia mais sobre
  .box.item2
    %h2 clientes
    %img{:alt => "", :src => "", :title => ""}/
    %a{:href => "", :title => ""} ver todos